.best {
  position: relative;
}

.best-item {
  max-width: 340px;
  padding: 30px;
  border-radius: 0 0 10px 10px;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
  h2 {
    line-height: 40px;
    font-weight: 600;
    margin-top: auto;
  }
  h1 {
    margin-bottom: 18px;
    line-height: 58px;
  }
  p {
    color: $text;
  }
  img {
    margin: 0 auto 23px;
    height: 201px;
  }
  &::before {
    position: absolute;
    content: "";
    top: -1.5%;
    left: -1.5%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 10px;
    background: linear-gradient(to bottom, transparent 50%, #f3f3f3);
    z-index: -1;
  }
  &:hover::before {
    background: linear-gradient(to bottom, transparent 50%, #ffcf03);
  }
}

.best-item1 {
  background: transparent;
  &::before {
    background: transparent;
  }
  &:hover::before {
    background: transparent;
  }
}

@media screen and (max-width: 991px) {
  .best-item1 {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .best-item {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .best {
    .row {
      flex-direction: column;

      .best-item {
        width: 100%;
        margin: 0 auto;
        .font48 {
          font-size: 36px;
          line-height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .best {
    .row {
      .best-item {
        .font48 {
          font-size: 26px;
        }
      }
    }
  }
}
