$primary-color: #f94a3d;
$text: #69697b;
$text-gray: #f6f6f6;
$text-heading: #212244;
$pruple: #7765ff;
$yellow: #ffcf03;
$green: #2acd92;
$yellow-star: #ff9401;
$black: #252525;
$bg-gray: #f8f8f8;
$red-1: #e83b2e;
$red-2: #ee3e32;
